
.dadospessoais{
   border: 10px solid black;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 100px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

.nome{
    text-align: center;
    font-size: larger;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 200px;
    color: white;

}
.dados{
    text-align: center;
    display:flexbox;
    border-radius: 180px;
    margin: 20px;
    font-size: 30px;
    align-items: center;

}


   